/* ~~ base styles ~~ */
/* importing font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
	/* css custom properties */
	--white: #e1dee4;
	--gray: #2c0000;
	--black: #121111;
	--red: #c01809;
	--yellow: ;
	--pink: ;
	--blue: ;
	--stroke-width: 0.1rem;

	/* base font */
	font-size: 115%;
	font-family: "Geist";
	font-weight: 400;

	background-color: var(--red);
}

/* ~~ grid layout ~~ */
body {
	display: grid;

	/* mobile layout */
	@media (width < 928px) {
		grid-template-columns: 100vw;
		grid-template-areas:
		"figure"
		"header"
		"navigation"
		"main";
	}

	/* tablet layout */
	@media (width > 927px) {
		grid-template-columns: 1fr 2fr;
		grid-template-areas:
			"header navigation"
			"figure main"
			"figure main";
	}
}

/* ~~ cover ~~ */
figure {
	grid-area: figure;

	/* mobile only styles */
	@media (width < 928px) {
		aspect-ratio: 1 / 1;
		margin-block-start: 2.25rem;
		margin-block-end: 3.75rem;
		display: flex;
	}

	/* tablet and up styles */
	@media (width > 927px) {
		position: sticky;
		top: 4rem;
		align-self: start;
	}

	background-color: var(--red);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* image + caption container */
.cover {
	max-width: 75%;
	max-height: 75%;
	display: flex;
	flex-direction: column;
	gap: 1.5vh;
}

figcaption {
	color: var(--gray);
	font-style: italic;
	font-weight: 200;
	font-size: clamp(0.75rem, 2.75vw, 0.85rem);
	line-height: 0.7lh;
}

/* ~~ title ~~ */
header {
	grid-area: header;
}

h1 {
	color: var(--white);
	font-weight: 700;
	text-transform: uppercase;
	font-size: clamp(1.25rem, 7.8vw, 3rem);
	padding-block: 0.75rem;

	/* mobile only styles */
	@media (width < 928px) {
		text-align: center;
	}

	/* tablet and up styles */
	@media (width > 927px) {
		padding-inline: 1rem;
	}
}


/* ~~ navigation ~~ */
nav {
	grid-area: navigation;
}

nav a {
	display: grid;
	grid-template-columns: 2rem auto;
	column-gap: 1.75rem;
	padding-block: 1rem;
	padding-inline-end: 1rem;

	grid-template-areas:
		"index title graphic";

	font-size: clamp(1rem, 6vw, 2rem);

	background-color: var(--white);
	color: var(--red);
}

/* invert color on hover */
nav a:hover {
	background-color: var(--red);
	color: var(--white);
}

/* buttons style */
ol li {
	border-bottom: var(--stroke-width) solid var(--red);
}

/* index roman numerals */
p.index {
	grid-area: index;

	justify-self: center;
	padding-inline-start: 2rem;
	font-weight: 600;
}

/* nav item title text */
p.title {
	grid-area: title;
	font-weight: 600;
}

/* svg for affordance on mobile */
svg {
	grid-area: graphic;
}

/* ~~ main content ~~ */
main {
	grid-area: main;
	/* padding for text */
	article {
		padding: 1.25rem;
		padding-inline-end: 2rem;
		padding-block-start: 2rem;
	}

	/* color for introduction */
	article {
		background-color: var(--white);
		color: var(--red);
	}

	/* color for colophon */
	#colophon {
		background-color: var(--red);
		color: var(--white);
	}

	#attribution {
		padding-block-start: 4rem;
		color: var(--black);
	}

	/* subheadings */
	article h2 {
		font-weight: 600;
		font-size: 1.25rem;
		padding-block-end: 1rem;
		color: var(--black);
	}

	/* paragraphs and list item padding */
	p, li {
		line-height: 0.99lh;
		padding-block-end: 1.5rem;
	}

	/* link styles */
	a {
		color: var(--black);
		text-decoration: underline;
		text-underline-offset: 0.2em;
		font-style: italic;
	}

	/* colophon link styles */
	#colophon a {
		color: var(--white);
	}

	/* footer text color */
	footer {
		color: var(--white);
	}

	/* emphasized text */
	em {
		font-style: italic;
	}
}