/* ~~ base styles ~~ */
/* importing font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
	/* css custom properties */
	--white: #e4e3e6;
	--gray: #1e0606;
	--black: #121111;
	--red: #c01809;
	--yellow: ;
	--pink: ;
	--blue: ;
	--stroke-width: 0.1rem;

	/* base font */
	font-size: 115%;
	font-family: "Geist";
	font-weight: 400;

	background-color: var(--red);
}

/* ~~ general layout and tweaks for breakpoints ~~ */
body {
	display: grid;
	grid-template-columns: 100vw;

	/* mobile layout only */
	@media (width < 667px) {
		grid-template-areas:
		"figure"
		"header"
		"navigation"
		"main";
	}

	/* flip the header to the top at this breakpoint */
	@media (width > 639px) {
		grid-template-areas:
		"header"
		"figure"
		"navigation"
		"main";
	}

	/* mobile + tablet layout */
	@media (width < 1024px) {
		figure {
			margin-block-start: 2.25rem;
			margin-block-end: 3.75rem;
		}

		nav a {
			padding-inline-end: 5vw;
		}

		article, footer {
			padding: 1.25rem;
		}

		h1 {
			text-align: center;
		}
	}

	/* desktop layout */
	@media (width >= 1024px) {
		display: block;

		figure, header {
			position: fixed;
			left: 0;
			min-width: 40vw;
			width: 40vw;
		}

		figure {
			margin-block: 1rem;
			bottom: 0;
			z-index: -1;
		}

		nav, main {
			margin-left: 40vw;
			z-index: 1;
			column-gap: 2rem;
		}

		nav a {
			padding-inline-end: 2.5vw;
		}

		nav a:hover svg {
			opacity: 100;
		}

		nav a:hover svg line {
			stroke-dashoffset: 0;
		}

		svg {
			opacity: 0;

			line {
				stroke-dasharray: 20;
				stroke-dashoffset: 20;
				transition: stroke-dashoffset 0.25s ease-in-out;
			}
		}

		article, footer {
			padding: 1.75rem;
		}

		h1 {
			margin-block: 0.05rem;
			line-height: 4.68rem;
			hyphens: auto;
			padding-inline: 1rem;
			text-align: start;
		}

		p, ul {
			max-width: 65ch;
		}

		h1 span {
			overflow: auto;
		}

		#colophon, footer {
			border-left: var(--stroke-width) solid var(--white);
		}
		
	}

	/* larger desktop layout */
	@media (width >= 1600px) {
		nav,
		main {
			max-width: 52rem;
			margin-left: 40vw;
			margin-right: auto;
		}

		#colophon {
			border-right: var(--stroke-width) solid var(--white);
		}

		footer {
			border-right: var(--stroke-width) solid var(--white);
		}

	}

	/* extremely large layout just in case */
	@media (width > 2500px) {
		h1 {
			text-align: center;
		}
}

/* ~~ cover ~~ */
figure {
	grid-area: figure;
	aspect-ratio: 1 / 1;
	display: flex;

	background-color: var(--red);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* image + caption container */
.cover {
	max-width: 75%;
	max-height: 75%;
	display: flex;
	flex-direction: column;
	gap: 1.5vh;
}

figcaption {
	color: var(--gray);
	font-style: italic;
	font-weight: 300;
	/* need to fix this */
	font-size: 0.85rem;
	line-height: 0.7lh;
}

/* ~~ title ~~ */
header {
	grid-area: header;
}

h1 {
	color: var(--white);
	font-weight: 700;
	text-transform: uppercase;
	font-size: clamp(1.25rem, 7.8vw, 4.3rem);
	padding-block: 0.75rem;
}


/* ~~ navigation ~~ */
nav {
	grid-area: navigation;
}

nav a {
	display: grid;
	grid-template-columns: 3rem auto 1.5rem;
	padding-block: 1rem;
	column-gap: 5vw;

	grid-template-areas:
		"index title graphic";

	font-size: clamp(1rem, 6vw, 2rem);

	background-color: var(--white);
	color: var(--red);
}

/* invert color on hover */
nav a:hover {
	background-color: var(--red);
	color: var(--white);
}

/* buttons style */
ol li {
	border-bottom: var(--stroke-width) solid var(--red);
}

/* index roman numerals */
p.index {
	grid-area: index;
	justify-self: center;
	font-weight: 600;
	padding-inline-start: 5vw;
}

/* nav item title text */
p.title {
	grid-area: title;
	font-weight: 600;
}

/* svg for affordance on mobile */
svg {
	grid-area: graphic;
	max-width: clamp(1rem, 6vw, 2rem);
	max-height: clamp(1rem, 6vw, 2rem);
	align-self: center;

	line {
		stroke-width: calc(var(--stroke-width)/2);
	}
}

/* ~~ main content ~~ */
main {
	grid-area: main;

	/* color for introduction */
	article {
		background-color: var(--white);
		color: var(--red);
	}

	/* color for colophon */
	#colophon {
		background-color: var(--red);
		color: var(--white);
	}

	footer {
		color: var(--black);
		border-top: var(--stroke-width) solid var(--white);
	}

	/* subheadings */
	article h2 {
		font-weight: 600;
		font-size: 1.25rem;
		padding-block-end: 1rem;
		color: var(--gray);
	}

	/* line length and list item padding */
	p, li {
		line-height: 1.075lh;
		padding-block-end: 1.5rem;
	}

	/* link styles */
	a {
		color: var(--black);
		text-decoration: underline;
		text-underline-offset: 0.25em;
		font-style: italic;
	}

	/* colophon and footer link styles */
	#colophon a, footer a {
		color: var(--white);
	}

	#colophon a:hover, footer a:hover {
		color: var(--black);
	}

	#credit {
		padding-block-end: 1rem;
	}

	/* emphasized text */
	em {
		font-style: italic;
	}
}