/* ~~ base styles ~~ */
/* importing font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
	/* css custom properties */
	--white: #e1dee4;
	--gray: #2c0000;
	--black: #181717;
	--red: #c01809;
	--yellow: ;
	--pink: ;
	--blue: ;
	--stroke-width: 0.1rem;

	/* base font */
	font-size: 115%;
	font-family: "Geist";
	font-weight: 400;

	background-color: var(--red);
}

/* ~~ grid layout ~~ */
body {
	display: grid;
	grid-template-columns: 100vw;
	/* only on mobile */
	grid-template-areas:
		"figure"
		"header"
		"nav"
		"main";
}

/* ~~ cover ~~ */
figure {
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* should only be on mobile */
	margin-block-start: 2.25rem;
	margin-block-end: 3.75rem;
}

/* image + caption container */
.cover {
	max-width: 75%;
	max-height: 75%;
	display: flex;
	flex-direction: column;
	gap: 1.5vh;
}

figcaption {
	color: var(--gray);
	font-style: italic;
	font-weight: 200;
	font-size: clamp(0.75rem, 2.75vw, 0.85rem);
	line-height: 0.7lh;
}

/* title */
h1 {
	color: var(--white);
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	font-size: clamp(1.25rem, 7.8vw, 3rem);
	padding-block: 0.75rem;

	/* only on mobile */
	span {
		display: inline;
	}
}

/* ~~ navigation ~~ */
nav a {
	display: grid;
	grid-template-columns: 2rem auto;
	column-gap: 1.75rem;
	padding-block: 1rem;
	padding-inline-end: 1rem;

	/* only on mobile */
	grid-template-areas:
		"index title";

	font-size: clamp(1rem, 6vw, 2rem);

	background-color: var(--white);
	color: var(--red);
}

/* invert color on hover */
nav a:hover {
	background-color: var(--red);
	color: var(--white);
}

/* buttons style */
ol li {
	border-bottom: var(--stroke-width) solid var(--red);
}

/* index roman numerals */
p.index {
	grid-area: index;

	justify-self: center;
	padding-inline-start: 1.5rem;
	font-weight: 500;
}

p.title {
	grid-area: title;
	font-weight: 500;
}

main {

	article {
		background-color: var(--white);
		color: var(--red);
		padding: 1.25rem;
		padding-block-start: 2rem;
	}

	footer {
		background-color: var(--white);
		color: var(--red);
	}

	p {
		line-height: 0.95lh;
		padding-block-end: 1rem;
	}

	a {
		color: var(--black);
		text-decoration: underline;
		font-style: italic;
	}

	em {
		font-style: italic;
		text-decoration: underline;
	}
}