/* base style */
:root {
	font-size: 120%;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 400;

	--white: #CFD1D3;
	--black: ;
	--red: #EA3423;
	--yellow: ;
	--pink: ;
	--blue: ;

	background-color: var(--red);
}

/* grid layout */
body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"figure"
		"header"
		"nav"
		"main";
}

figure {
	aspect-ratio: 1 / 1;
}

h1 {
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	font-size: clamp(1.55rem, 7.55vw, 10rem);
	padding-block: 0.75rem;

	span {
		display: inline;
	}
}

nav a {
	display: flex;
	font-size: clamp(1.25rem, 6vw, 2.5rem);
	background-color: var(--white);
	padding-block: 1rem;

	p.description {
		display: none;
	}
}

li {
	border-bottom: 0.08em solid var(--red);
}

svg {
	display: none;
}