/* base style */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root {
	font-size: 120%;
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;

	--red: #e83a34;
	--white: #d2cece;
	--blue: #265CC3;
	--dark-blue: #061a40;
	--green: #4c7c2e;
	--purple: #9e3767;
	--yellow: #dfb323;
	--black: #101010;

	background-color: var(--blue);
}

/* h1 style */
h1 {
	font-weight: 700;
	color: var(--white);
	font-size: 250%;
	display: flex;
	flex-direction: column;
}

header {
	background-color: var(--blue);
	color: var(--red);
	font-weight: 500;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-inline-start: 2rem;
	line-height: 1.5;

	p {
		margin-block-start: 1rem;
		color: var(--white);
	}
}


/* adding space after landing page */
article {
	padding-block-start: 2rem;
	padding-block-end: 3rem;
}

/* body text style */
main {
	color: var(--white);
	background-color: var(--blue);
}

/* h2 style */
h2 {
	font-weight: 700;
	font-size: 150%;
	padding-block-end: 1.75rem;
	padding-inline-start: 1.5rem;
	color: var(--dark-blue);
}

h3 {
	font-weight: 700;
	font-size: 120%;
	padding-block-end: 2rem;
	padding-inline-start: 1.5rem;
	color: var(--dark-blue);
}

article p {
	text-wrap: pretty;
	hyphens: auto;
}

article > p {
	line-height: 1.5;
	padding-inline-start: 1.5rem;
	padding-inline-end: 1.25rem;
	margin-block-end: 1.5rem;
}

section {
	background-color: var(--dark-blue);
	width: 100%;
	color: var(--white);
	padding-block: 1rem;
	margin-block: 2.5rem;
}

section > p, ul {
	padding-inline-start: 1.5rem;
	padding-inline-end: 1rem;
	width: 100%;
	font-size: 140%;
	letter-spacing: -0.03rem;
	line-height: 1.3;
	margin-block: 1.75rem;
	font-style: italic;
}

ul {
	background-color: var(--dark-blue);
	color: var(--white);
	width: 100%;
	padding-block: 1.5rem;
}

li {
	margin-block-end: 0.75lh;
	font-size: 88%;
}

div {
	display: flex;
	gap: 0;
	justify-content: space-between;
	padding-inline: 1rem;
	margin-block: 2rem;
	width: 100%;
	height: 10vw; 
	background: linear-gradient(
		to right,
		var(--dark-blue) 0%,
		var(--dark-blue) 11.111%,
		var(--white)     11.111%,
		var(--white)     22.222%,
		var(--dark-blue) 22.222%,
		var(--dark-blue) 33.333%,
		var(--white)     33.333%,
		var(--white)     44.444%,
		var(--dark-blue) 44.444%,
		var(--dark-blue) 55.555%,
		var(--white)     55.555%,
		var(--white)     66.666%,
		var(--dark-blue) 66.666%,
		var(--dark-blue) 77.777%,
		var(--white)     77.777%,
		var(--white)     88.888%,
		var(--dark-blue) 88.888%,
		var(--dark-blue) 100%
	);
}

.numbers {
	background-color: var(--white);
	color: var(--dark-blue);
	padding-inline: 0.2em;
}

nav {
	margin-block: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	padding-block: 0.5rem;
	padding-inline: 1.5rem;
	text-decoration: underline;
	text-decoration-thickness: 0.1em;
	color: var(--dark-blue);
	font-weight: 500;
}

a:hover {
	color: var(--red);
}

