/* base style */
:root {
	font-size: 120%;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 200;

	--red: #ae1b0d;
	--white: #d2cece;
	--blue: #265CC3;
	--dark-blue: #113276;
	--green: #4c7c2e;
	--purple: #9e3767;
	--yellow: #dfb323;
	--black: #101010;

	background-color: var(--yellow);
}

/* h1 style */
h1 {
	font-weight: 700;
	color: var(--red);
	font-size: 250%;
	display: flex;
	flex-direction: column;
}

header {
	background-color: var(--yellow);
	color: var(--red);
	font-weight: 500;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-inline-start: 2rem;
	line-height: 1.5;

	p {
		margin-block-start: 1rem;
	}
}


/* adding space after landing page */
article {
	padding-block-start: 2rem;
	padding-block-end: 3rem;
}

/* body text style */
main {
	color: var(--red);
	background-color: var(--yellow);
}

/* h2 style */
h2 {
	font-weight: 700;
	font-size: 150%;
	padding-block-end: 1.75rem;
	padding-inline-start: 1.5rem;
	color: var(--black);
}

h3 {
	font-weight: 700;
	font-size: 120%;
	padding-block-end: 2rem;
	padding-inline-start: 1.5rem;
	color: var(--black);
}

article p {
	text-wrap: pretty;
	hyphens: auto;
}

article > p {
	line-height: 1.5;
	padding-inline-start: 1.5rem;
	padding-inline-end: 1.25rem;
	margin-block-end: 1.5rem;
}

section {
	background-color: var(--red);
	width: 100%;
	color: var(--white);
	padding-block: 1rem;
	margin-block-end: 1.5rem;
}

section > p, ul {
	padding-inline-start: 1.5rem;
	padding-inline-end: 1rem;
	width: 100%;
	font-size: 140%;
	letter-spacing: -0.03rem;
	line-height: 1.3;
	margin-block: 1.75rem;
	font-style: italic;
}

ul {
	background-color: var(--red);
	color: var(--white);
	width: 100%;
	padding-block: 1.5rem;
}

li {
	margin-block-end: 0.75lh;
	font-size: 88%;
}

div {
	display: flex;
	background-color: var(--yellow);
	gap: 0;
	justify-content: space-between;
	padding-inline: 1rem;
	margin-block: 2rem;
	width: 100%;
	height: 10vw; 
}

div span {
	flex: 1;
	border-radius: 50%;
	display: block;
}

div span:nth-child(1) { background-color: var(--green); }
div span:nth-child(2) { background-color: var(--red); }
div span:nth-child(3) { background-color: var(--purple); }
div span:nth-child(4) { background-color: var(--blue); }

.numbers {
	background-color: var(--white);
	padding-inline: 0.2em;
}

nav {
	margin-block: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	padding-block: 0.5rem;
	padding-inline: 1.5rem;
	text-decoration: underline;
	text-decoration-thickness: 0.1em;
	color: var(--red);
}

a:hover {
	color: var(--black);
}

