/* changing colors for this specific page */
:root {
	--page-color: var(--blue);

	background-color: var(--page-color);
}

figure {
	background-color: var(--page-color);
}

nav a {
	color: var(--page-color);
}

nav a:hover {
	background-color: var(--page-color);
	color: var(--white);
}

ol li {
	border-bottom: var(--stroke-width) solid var(--page-color);
}

main {
	article {
		color: var(--page-color);
	}

	#colophon {
		background-color: var(--page-color);
	}
}